USE [ProjectDB]
GO
/****** Object:  Table [dbo].[DimBug]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBug](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Project] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](200) NULL,
	[Summary] [nvarchar](200) NOT NULL,
	[Resolution] [nvarchar](200) NULL,
	[OS] [nvarchar](200) NULL,
	[OSVersion] [nvarchar](200) NULL,
	[Platform] [nvarchar](200) NULL,
 CONSTRAINT [PK_DimBug] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPerson]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPerson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DimPerson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimReport]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [nvarchar](200) NOT NULL,
	[Severity] [nvarchar](200) NOT NULL,
	[Reproducibility] [nvarchar](200) NULL,
 CONSTRAINT [PK_DimReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStatus]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DimStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Day] [int] NOT NULL,
 CONSTRAINT [PK_DimTime] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVersion]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVersion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Version] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DimVersion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactTable]    Script Date: 05/11/2025 20.49.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactTable](
	[IDBug] [int] NOT NULL,
	[IDPersonReporter] [int] NOT NULL,
	[IDPersonAssignedTo] [int] NOT NULL,
	[IDReport] [int] NOT NULL,
	[IDDateSubmitted] [int] NOT NULL,
	[IDDateUpdated] [int] NOT NULL,
	[IDProductVersion] [int] NOT NULL,
	[IDFixedInVersion] [int] NOT NULL,
	[IDStatus] [int] NOT NULL,
	[DurationToResolve] [float] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimBug] FOREIGN KEY([IDBug])
REFERENCES [dbo].[DimBug] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimBug]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimPerson] FOREIGN KEY([IDPersonReporter])
REFERENCES [dbo].[DimPerson] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimPerson]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimPerson1] FOREIGN KEY([IDPersonAssignedTo])
REFERENCES [dbo].[DimPerson] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimPerson1]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimReport] FOREIGN KEY([IDReport])
REFERENCES [dbo].[DimReport] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimReport]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimStatus] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[DimStatus] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimStatus]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimTime] FOREIGN KEY([IDDateSubmitted])
REFERENCES [dbo].[DimTime] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimTime]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimTime1] FOREIGN KEY([IDDateUpdated])
REFERENCES [dbo].[DimTime] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimTime1]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimVersion] FOREIGN KEY([IDFixedInVersion])
REFERENCES [dbo].[DimVersion] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimVersion]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_DimVersion1] FOREIGN KEY([IDProductVersion])
REFERENCES [dbo].[DimVersion] ([ID])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_DimVersion1]
GO
